<div>
  <h2 id="page-heading" data-cy="ScheduleHeading">
    <span>Schedules</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-schedule"
        [routerLink]="['/schedule/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Schedule </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="schedules?.length === 0">
    <span>No schedules found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="schedules && schedules.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateTime"><span>Date Time</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="availableSlots"><span>Available Slots</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="schLoc.branchName"><span>Sch Loc</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="schClass.className"><span>Sch Class</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let schedule of schedules; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/schedule', schedule.id, 'view']">{{ schedule.id }}</a>
          </td>
          <td>{{ schedule.dateTime | formatMediumDate }}</td>
          <td>{{ schedule.availableSlots }}</td>
          <td>
            <div *ngIf="schedule.schLoc">
              <a [routerLink]="['/location', schedule.schLoc?.id, 'view']">{{ schedule.schLoc?.branchName }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="schedule.schClass">
              <a [routerLink]="['/fitness-class', schedule.schClass?.id, 'view']">{{ schedule.schClass?.className }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/schedule', schedule.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/schedule', schedule.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(schedule)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="schedules && schedules.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
